*{
    font-family: 'Outfit', sans-serif;
}

:root {
    --White: hsl(0, 0%, 100%);
    --LightGray: hsl(212, 45%, 89%);
    --GrayishBlue: hsl(220, 15%, 55%);
    --DarkBlue: hsl(218, 44%, 22%);
}

body{
    background-color: var(--White);
    width: 100%;

}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}



.cont {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--LightGray);
    width: 75%;
    height: 90vh;
    margin-top: 3rem;
    margin-left: calc(21% / 2);
    box-shadow: 3px 21px 48px 6px grey;
}

.block {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2%;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--White);
    height: fit-content;
    width: 16.5%;
}

img {
    width: 190px;
    height: 190px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.block .div {
    margin: 5px;
}

.title {
    font-weight: bold;
    margin: 10px 0px;
}

.descrption {
    color: #5c697596;
    font-size: 11px;
    margin-bottom: 10px;
}